<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.evaluacion.banco.bci.servicios.UsuarioServicioImpleTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>updateUsuarioTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validaClaveTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>guardarUsuarioTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validaEmailTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>buscarUsuarioPorCorreoTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>listaUsuariosTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
