<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3a2be">  <td>21/09/30 19:32:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsuarioServicioImpleTest.buscarUsuarioPorCorreoTest()[pri:0, instance:com.evaluacion.banco.bci.servicios.UsuarioServicioImpleTest@52f27fbd]">buscarUsuarioPorCorreoTest</td> 
  <td>main@1604247316</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>21/09/30 19:32:51</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsuarioServicioImpleTest.guardarUsuarioTest()[pri:0, instance:com.evaluacion.banco.bci.servicios.UsuarioServicioImpleTest@52f27fbd]">guardarUsuarioTest</td> 
  <td>main@1604247316</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>21/09/30 19:32:51</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsuarioServicioImpleTest.listaUsuariosTest()[pri:0, instance:com.evaluacion.banco.bci.servicios.UsuarioServicioImpleTest@52f27fbd]">listaUsuariosTest</td> 
  <td>main@1604247316</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>21/09/30 19:32:51</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsuarioServicioImpleTest.updateUsuarioTest()[pri:0, instance:com.evaluacion.banco.bci.servicios.UsuarioServicioImpleTest@52f27fbd]">updateUsuarioTest</td> 
  <td>main@1604247316</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>21/09/30 19:32:51</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsuarioServicioImpleTest.validaClaveTest()[pri:0, instance:com.evaluacion.banco.bci.servicios.UsuarioServicioImpleTest@52f27fbd]">validaClaveTest</td> 
  <td>main@1604247316</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>21/09/30 19:32:51</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsuarioServicioImpleTest.validaEmailTest()[pri:0, instance:com.evaluacion.banco.bci.servicios.UsuarioServicioImpleTest@52f27fbd]">validaEmailTest</td> 
  <td>main@1604247316</td>   <td></td> </tr>
</table>
